/* Most of these styles could be removed but are for the demo to look better */
html,
body {
  margin: 0;
  height: 100%;
  font-weight: 300;
}

body {
  overflow-x: hidden;
}

a {
  color: red;
}

h1,
h2 {
  text-align: center;
}

.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#masthead {
  position: fixed;
  display: flex;
  z-index: 9999;
}

#masthead a {
  padding: 1rem 2rem;
}

#panels #panels-container {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
}

#panels #panels-container .panel {
  position: relative;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  color: #333;
  text-align: left;
  border-right: 1px solid #f00;
}

#panels #panels-container .panel img {
  max-width: 100%;
  height: auto;
  display: block;
}

#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 2rem;
}

#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}

.cards-wrapper {
  display: flex;
}

.card {
  width: 600px;
}

#panel-5 {
  width: unset;
  flex: 1 0 auto;
}

.under-dot {
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.2s ease-in-out;
}

.menu-wrap div:nth-child(1):hover ~ .under-dot {
  transform: translateX(30px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.menu-wrap a:nth-child(2):hover ~ .under-dot {
  transform: translateX(110px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.menu-wrap a:nth-child(3):hover ~ .under-dot {
  transform: translateX(200px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.menu-wrap a:nth-child(4):hover ~ .under-dot {
  transform: translateX(285px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

@media screen and (max-width: 1279px) {
  .menu-wrap a:nth-child(2):hover ~ .under-dot {
    transform: translateX(164px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .menu-wrap a:nth-child(3):hover ~ .under-dot {
    transform: translateX(280px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .menu-wrap a:nth-child(4):hover ~ .under-dot {
    transform: translateX(400px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .menu-wrap a:nth-child(5):hover ~ .under-dot {
    transform: translateX(522px);
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

section {
  height: 100vh;
  padding: 0 clamp(4rem, 12vw, 20rem);
  display: grid;
  place-content: center;
}
section p {
  font-size: clamp(2rem, 5vw, 8rem);
}
section:nth-of-type(1) {
  border-bottom: 1px solid black;
}
section:nth-of-type(3) {
  background: #ffff00;
}
section:nth-of-type(4) {
  background: rgb(29, 29, 29);
  color: white;
}

.prev {
  transform: translateY(-50%);
  transition: all 0.3s;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'%3E%3Ccircle cx='30' cy='30' r='29' stroke='white' stroke-width='2'/%3E%3Cpath d='M28.6572 20.353C28.8524 20.158 29.1687 20.158 29.364 20.353L30.4212 21.4091C30.6165 21.6043 30.6167 21.9209 30.4215 22.1162L24.6454 27.8966C24.3306 28.2116 24.5537 28.75 24.9991 28.75H38.5212C38.7973 28.75 39.0212 28.9739 39.0212 29.25V30.75C39.0212 31.0261 38.7973 31.25 38.5212 31.25H24.9991C24.5537 31.25 24.3306 31.7884 24.6454 32.1034L30.4215 37.8838C30.6167 38.0791 30.6165 38.3957 30.4212 38.5909L29.364 39.647C29.1687 39.842 28.8524 39.842 28.6572 39.647L19.3541 30.3537C19.1586 30.1584 19.1586 29.8416 19.3541 29.6463L28.6572 20.353Z' fill='white'/%3E%3C/svg%3E");
}

.prev:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='%23FF771B'%3E%3Ccircle cx='30' cy='30' r='29' stroke='%23FF771B' stroke-width='2'/%3E%3Cpath d='M28.6572 20.353C28.8524 20.158 29.1687 20.158 29.364 20.353L30.4212 21.4091C30.6165 21.6043 30.6167 21.9209 30.4215 22.1162L24.6454 27.8966C24.3306 28.2116 24.5537 28.75 24.9991 28.75H38.5212C38.7973 28.75 39.0212 28.9739 39.0212 29.25V30.75C39.0212 31.0261 38.7973 31.25 38.5212 31.25H24.9991C24.5537 31.25 24.3306 31.7884 24.6454 32.1034L30.4215 37.8838C30.6167 38.0791 30.6165 38.3957 30.4212 38.5909L29.364 39.647C29.1687 39.842 28.8524 39.842 28.6572 39.647L19.3541 30.3537C19.1586 30.1584 19.1586 29.8416 19.3541 29.6463L28.6572 20.353Z' fill='%23042449'/%3E%3C/svg%3E");
}

.next-journey {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'%3E%3Ccircle cx='30' cy='30' r='29' stroke='white' stroke-width='2' fill='none'/%3E%3Cpath d='M31.364 20.353C31.1687 20.158 30.8524 20.158 30.6572 20.353L29.6 21.4091C29.4046 21.6043 29.4045 21.9209 29.5997 22.1162L35.3758 27.8966C35.6906 28.2116 35.4675 28.75 35.0221 28.75H21.5C21.2239 28.75 21 28.9739 21 29.25V30.75C21 31.0261 21.2239 31.25 21.5 31.25H35.0221C35.4675 31.25 35.6906 31.7884 35.3758 32.1034L29.5997 37.8838C29.4045 38.0791 29.4046 38.3957 29.6 38.5909L30.6572 39.647C30.8524 39.842 31.1687 39.842 31.364 39.647L40.6671 30.3537C40.8626 30.1584 40.8626 29.8416 40.6671 29.6463L31.364 20.353Z' fill='white'/%3E%3C/svg%3E");
}

.next-journey:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'%3E%3Ccircle cx='30' cy='30' r='30' fill='%23FF771B'/%3E%3Cpath d='M31.364 20.353C31.1687 20.158 30.8524 20.158 30.6572 20.353L29.6 21.4091C29.4046 21.6043 29.4045 21.9209 29.5997 22.1162L35.3758 27.8966C35.6906 28.2116 35.4675 28.75 35.0221 28.75H21.5C21.2239 28.75 21 28.9739 21 29.25V30.75C21 31.0261 21.2239 31.25 21.5 31.25H35.0221C35.4675 31.25 35.6906 31.7884 35.3758 32.1034L29.5997 37.8838C29.4045 38.0791 29.4046 38.3957 29.6 38.5909L30.6572 39.647C30.8524 39.842 31.1687 39.842 31.364 39.647L40.6671 30.3537C40.8626 30.1584 40.8626 29.8416 40.6671 29.6463L31.364 20.353Z' fill='%23042449'/%3E%3C/svg%3E");
}/*# sourceMappingURL=carego.css.map */