.sun-careers {
    background: #0e4d92;
    z-index: 40;
    box-shadow: 0px 22px 44px -10px rgba(0, 0, 0, 0.05);
    padding: 65px 100px;
}
@media only screen and (max-width: 991px) {
    .sun-careers {
        padding: 50px 60px;
    }
}
@media only screen and (max-width: 767px) {
    .sun-careers {
        padding: 30px 15px;
    }
}
.sun-careers__item {
    font-family: Marsden w, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    letter-spacing: -0.01em;
    padding: 40px 0;
    text-decoration: none;

    a {
        text-decoration: none;
    }
}
.sun-careers__item:not(:last-of-type) {
    border-bottom: 2px solid #f7f0e6;
    @media only screen and (max-width: 767px) {
        border-bottom: 2px solid #feb914;
    }
}
@media only screen and (max-width: 767px) {
    .sun-careers .sun-careers__item-btn {
        font-size: 20px;
    }
    .sun-careers__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}

.sun-careers__item-position {
    padding-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 2px solid #feb914;
    width: calc(100% - 290px);
}
@media only screen and (max-width: 767px) {
    .sun-careers__item-position {
        padding-right: 0;
        border: none;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.sun-careers__item-text {
    font-family: Marsden w, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    color: #ffffff;
    margin-top: 20px;
}
.sun-careers__item-heading {
    font-family: Marsden w, sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2em;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @media only screen and (max-width: 767px) {
        font-size: 28px;
    }
    &:hover {
        color: #feb914;
    }
}
.sun-careers__item-heading-error {
    width: 100%;
    font-family: Marsden w, sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2em;
    color: #ffffff;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @media only screen and (max-width: 767px) {
        font-size: 28px;
    }
}
.sun-careers__item-btn-wrap {
    padding-left: 80px;
}
@media only screen and (max-width: 767px) {
    .sun-careers__item-btn-wrap {
        padding-left: 0;
        margin-top: 20px;
    }
}
.sun-careers__item-btn {
    color: #0e2454;
    text-transform: none;
    background-color: #feb914;
    border: 1px solid #feb914;
    border-radius: 30px;
    justify-content: center;
    padding: 22px 36px;
    font-weight: 400;
    transition: color 0.3s, background-color 0.3s;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    text-transform: capitalize;
}
.sun-careers__item-btn:hover {
    color: #0e2454;
    background-color: #fff;
}
