body {
  margin: 0;
}
// .modal {
//   position: relative;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   .bg {
//     position: absolute;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     background-color: green;
//     width: 100%;
//     height: 100%;
//   }
//   .form {
//     background-color: red;
//     width: 400px;
//     height: 500px;
//     z-index: 2;
//   }
// }

.tab-list {
  display: flex;
  flex-wrap: wrap;

  .tab-item {
    width: 60px;
    height: 60px;
    background-color: red;
    margin: 30px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .tab-item.active {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
  }
}
