body {
    padding: 100px 0;
    margin: 0;
}

.pricing-item-clone {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--white);
    background-color: var(--white);
    border-radius: 6px;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    position: relative;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.07);
}

.pricing-item-content {
    padding: 30px 15px 0 15px;
}

.conteiner-ranges {
    width: 100%;
    max-width: calc(100% - 15px);
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    margin-top: 36px;
    margin-bottom: 36px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    * {
        box-sizing: border-box;
    }
}

.ranges {
    display: block;
    flex: none;
    width: 100%;
}

.start-ranges,
.end-ranges {
    display: none;

    span {
        width: 8px;
        height: 8px;
        background-color: #f69c20;
        border-radius: 50%;
    }
}

.rangeslider-points-wrapper {
    padding: 0 15px;
    position: relative;
}
.rangeslider {
    text-align: initial;
}
.rangeslider--horizontal {
    max-width: 100%;
    height: 10px;
    border-radius: 19px;
    background-color: #eef0f5;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.09) inset;
}

.rangeslider__point {
    position: absolute;
    top: 0;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #eef0f5;

    &::before {
        position: absolute;
        top: calc(100% + 22px);
        left: 50%;
        transform: translateX(-50%);
        color: #e0e2e7;
        font-family: 'Satoshi', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 14px */
    }

    &:nth-child(1) {
        transform: translate(0%, -13px);
        background-color: #f69c20;

        &::before {
            content: '0';
        }
    }
    &:nth-child(2) {
        transform: translate(-25%, -13px);

        &::before {
            content: '25';
        }
    }
    &:nth-child(3) {
        transform: translate(-50%, -13px);

        &::before {
            content: '50';
        }
    }
    &:nth-child(4) {
        transform: translate(-75%, -13px);

        &::before {
            content: '75';
        }
    }
    &:nth-child(5) {
        transform: translate(-100%, -13px);

        &::before {
            content: '100';
        }
    }
}
@media screen and (max-width: 767px) {
    .rangeslider__point {
        width: 14px;
        height: 14px;
    }
}
.rangeslider--horizontal .rangeslider__handle {
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    position: relative;
    background-color: #f69c20;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 50px;
        height: 50px;
        box-shadow: none;
        border: none;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;
        position: relative;
        background-color: #f69c2033;
    }
}

.rangeslider--horizontal .rangeslider__fill {
    background: #f69c20;
    transition: 0.2s;
    height: 10px;
    top: -1px;
    box-shadow: none;
}

.rangeslider__oders {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 2px;
    background: var(--Blue, #1c276d);
    color: #fff;
    color: #fff;
    font-family: 'Satoshi', sans-serif;

    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    white-space: nowrap;

    &::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(-45.505deg);
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        border-radius: 2px;
        background: var(--Blue, #1c276d);
    }
}

.rangeslider__oders {
    padding: 4px 8px;
    bottom: calc(100% + 10px);
    font-size: 12px;
}

.rangeslider:before {
    display: none;
}

.rangeslider__ruler:after {
    content: '';
    display: inline-block;
    width: 100%;
}
